@charset "UTF-8";

.first {
	width:1000px;
	height:600px;
	background:#F0FFFF;
	position:absolute;
	left:50%;
	top:50%;
	
	margin-left:-500px;
	margin-top:-300px;
}

.second {
	width:500px;
	height:550px;
	background:#FFFFBB;
	float:left;
	margin-top:25px;
	text-align:center;
}

.third {
	width:450px;
	height:460px;
	background:#99FF99;
	margin:7px 25px 50px 25px;
}


.buttondiv {
	width:250px;
	height:600px;
	float:left;
}

.fonts {
	font-family:Microsoft JhengHei;
	font-size:40px;
}

.fonts2 {
	font-family:Microsoft JhengHei;
	font-size:24px;
}

.button1 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}

.button2 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}
.button3 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}
.button4 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}
.button5 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}
.button6 {
	background-image:url('./images/circle.jpg');
	width:182px; 
	height:138px;
	border:0px none;
}

.button-div{
	width:250px;
	height:200px;
	display:table-cell; 
	text-align:center; 
	vertical-align:middle;
	float:left;
	margin-top:15px;
  }